.sandbox-panel {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    padding: 20px;
}

.sandbox-panel h2 {
    margin-top: 0;
    margin-bottom: 15px;
}

.reactflow-wrapper {
    flex-grow: 1;
    background-color: #f0f2f5;
    border: 1px solid #ccc;
}